<div class="row">
  <div class="col">
    <p *ngIf="loggedInUserType" class="h5" [textContent]="'Welcome, ' + userName"></p>
  </div>
  <div *ngIf="parents.user.includes(parent)" class="">
    <button class="btn btn-success" (click)="purchase()">Purchase Items in Cart</button>
  </div>
  <div *ngIf="parents.admin.includes(parent)" class="">
    <button class="btn btn-success" (click)="routeToCreation()">Create Product</button>
    <button class="btn btn-success" (click)="routeToRegistration()">Register User</button>
  </div>
  <div *ngIf="!parents.user.includes(parent) && loggedInUserType" class=" ml-2">
    <button class="btn btn-warning btn-dark" (click)="routeToUserPortal()">User Portal</button>
  </div>
  <div *ngIf="!parents.admin.includes(parent) && loggedInUserType === 'admin'" class=" ml-2">
    <button class="btn btn-warning btn-dark" (click)="routeToAdminPortal()">Admin Portal</button>
  </div>
  <div class="col">
    <div *ngIf="loggedInUserType" class="float-right">
      <button class="btn btn-danger" (click)="logout()">Log out</button>
    </div>
  </div>
</div>
<span class="row mb-4"></span>
