<div class="row">
  <div class="col"><p class="h5" [textContent]="'Welcome, ' + userName"></p></div>
  <div *ngIf="userType === 'user'">
    <button class="btn btn-success" (click)="purchase()">Purchase Items in Cart</button>
  </div>
  <div *ngIf="userType === 'admin'">
    <button class="btn btn-danger" (click)="pass()">Create Product</button>
    <button class="btn btn-danger" (click)="pass()">Register User</button>
  </div>
  <div class="col">
    <div class="float-right">
      <button class="btn btn-danger" (click)="logout()">Log out</button>
    </div>
  </div>
</div>
<span class="row mb-4"></span>
