<app-header-bar [parent]="title"></app-header-bar>
<div class="text-center body-div" style="">

  <form [formGroup]="form" class="form-signin" (ngSubmit)="submitEditProductForm()">
    <app-product [productId]="productId" [parent]="title" [displayType]="displayType" [productName]="form.value.name || productName" [productBrand]="form.value.brand || productBrand"></app-product>
    <h3 class="mb-3 font-weight-normal">Please edit product</h3>
    <div class="mb-3 col">
    </div>
    <label for="inputProductName" class="sr-only">Product Name</label>
    <input type="text" class="form-control" id="inputProductName" [formControlName]="'name'" placeholder="Product Name" autofocus autocomplete="on"/>
    <label for="inputProductBrand" class="sr-only">Product Brand</label>
    <input type="text" class="form-control" id="inputProductBrand" [formControlName]="'brand'" placeholder="Product Brand" autocomplete="on"/>

    <p *ngIf="failedEdit" class="h6 mb-3 text-muted" style="font-size: 14px; color: crimson; border: 1px crimson;">Product details are invalid. Please try again.</p>
    <p *ngIf="successfulEdit" class="h6 mb-3 text-muted" style="font-size: 14px; color: crimson; border: 1px crimson;">Product details saved.</p>

    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="form.invalid">Save product</button>
    <br>
  </form>

</div>
